{% load widget_tweaks %}

{{ form.non_field_errors }}

{% for field in form %}
    <div class="input-group mr-sm-2">
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}

        {% if field.errors %}
            {% render_field field class="form-control is-invalid" placeholder=field.label %}
        {% else %}
            {% render_field field class="form-control" placeholder=field.label %}
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endfor %}